<!-- Search Detail Page -->

<body>
  <!-- Navbar -->
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/tweets/index">twXplorer</a>
      </div>
    </div>
  </div>

  <!-- Search bar -->
  <div id="search-bar-wrapper">
    <div class="twxplorer-header twxplorer-detail header-normal">tw<div class="twxplorer-x-detail twxplorer-header">x</div>plorer</div>
    <div class="test" style="display: inline">
    <%= form_tag '/searchedtweets/index', :method => :get do %>
      <p>
          <%= text_field_tag :search, params[:search], :class => 'search-input search-input-detail' %>
          <%= submit_tag "Search for Tweets", :name => nil, :class =>'btn btn-primary btn-large search-btn-detail' %>
      </p>
    <% end %>
    </div>
  </div>

  <!-- Graph and tweets sidebar -->
  <div id = "main-wrap">
    <%= render :partial => 'makedata', :search => params[:search] %>
  </div>
</body>
