<!-- Search Detail Page -->

<body>
  <script src="http://code.highcharts.com/stock/highstock.js" type="text/javascript"></script>

  <!-- Navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="">
              <a href="#aboutUsModal" data-toggle="modal" data-backdrop="true" data-keyboard="true">About the team</a>
            </li>
            <li class="">
              <a href="#howItWorksModal" data-toggle="modal" data-backdrop="true" data-keyboard="true">How it works</a>
            </li>
          </ul>
        </div>
        <a class="brand" href="/tweets/index" style="">twXplorer</a>
      </div>
    </div>
  </div>

    <!-- About us modal -->
    <div id="about-us-modal">
      <div id="aboutUsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="aboutUsLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="aboutUsLabel">About the team</h3>
        </div>
        <div class="modal-body">
          Coming soon!!
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
    </div>
    <!-- About us searches modal-->

    <!-- How it works modal -->
    <div id="how-it-works-modal">
      <div id="howItWorksModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="howItWorksLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="howItWorksLabel">How it works</h3>
        </div>
        <div class="modal-body">
          Coming soon!
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
    </div>
    <!-- How it works modal-->

  <!-- Search bar -->
  <div id="search-bar-wrapper">
    <div class="twxplorer-header twxplorer-detail header-normal">tw<div class="twxplorer-x-detail twxplorer-header">x</div>plorer</div>
    <div class="test" style="display: inline">
    <%= form_tag '/searchedtweets/index', :id => 'submit-search-form', :onsubmit => 'return validate(this)', :method => :get do %>
      <p>
          <%= text_field_tag :search, params[:search], :class => 'search-input search-input-detail' %>
          <%= submit_tag "Search for Tweets", :name => nil, :id => 'submit-button', :class =>'btn btn-primary btn-large search-btn-detail' %>
      </p>
    <% end %>
    </div>
  </div>

  <!-- Graph and tweets sidebar -->
  <div id = "main-wrap">
    <%= render :partial => 'makedata' %>
  </div>
</body>
