<p>hello</p>

<div id="container">
<ul>
<% @searchedtweets.each do |tweet| %>
  <li style="font-family:Helvetica" class="<%=cycle('odd', '')%>">
    <%= link_to tweet.username, "http://twitter.com/#{tweet.username}", :class => "username", :target => "_blank" %>
    <div style="font-family:Helvetica" class="tweet_text_area">
      <div class="tweet_text">
        <%= tweet.text %>
      </div>
      <div style="margin-bottom: 15px" class="tweet_created_at">
        <%= time_ago_in_words tweet.created_at %> ago
      </div>
    </div>
  </li>
<% end %>
</ul>
</div>