<center><h1 style="font-family: Helvetica; font-size: 40px">twxplorer</h1></center>

<center>
<%= form_tag '/searchedtweets/index', :method => :get do %>
	<p>
		<div class="search-button">
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag "Search for Tweets", :name => nil %>
			</div>
	</p>
<% end %>
</center>


