<!-- Landing Page -->

<div id="wrap">
  <body>
    <!-- Navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="#aboutUsModal" data-toggle="modal" data-backdrop="true" data-keyboard="true">About the team</a>
              </li>
              <li class="">
                <a href="#howItWorksModal" data-toggle="modal" data-backdrop="true" data-keyboard="true">How it works</a>
              </li>
            </ul>
          </div>
          <a class="brand" href="/tweets/index" style="">twXplorer</a>
        </div>
      </div>
    </div>

      <!-- About us modal -->
      <div id="about-us-modal">
        <div id="aboutUsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="aboutUsLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="aboutUsLabel">About the team</h3>
          </div>
          <div class="modal-body">
            Coming soon!
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>
      </div>
      <!-- About us searches modal-->

      <!-- How it works modal -->
      <div id="how-it-works-modal">
        <div id="howItWorksModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="howItWorksLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="howItWorksLabel">How it works</h3>
          </div>
          <div class="modal-body">
            Coming soon!
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>
      </div>
      <!-- How it works modal-->


    <!-- Logo -->
      <div class="landing">
        <center>
        <div class="header-wrapper">
        <div class="twxplorer-header header-normal">tw<div class="twxplorer-x twxplorer-header">x</div>plorer</div>
      </div>
    </center>

    <!-- Search bar -->
    <center>
    <%= form_tag '/searchedtweets/index', :id => 'submit-search-form', :onsubmit => 'return validate(this)', :method => :get do %>
     <p>
       <div class="search-button">
         <%= text_field_tag :search, params[:search], :class => 'search-input search-input-home' %>
         <%= submit_tag "Search for Tweets", :name => nil, :id => 'submit-button', :class =>'btn btn-primary btn-large' %>
       </div>
     </p>
    <% end %>
    </center>
    </div>
  </body>

  <!-- For footer -->
  <div id="push"></div>
  </div>

  <!-- Footer -->
  <div id="footer">
    <div class="container">
      <p class="muted credit">Built by Team <a href="#">twXplorer</a>: Allen Zeng, Jeanette Huang, and Miguel Huerta <br> Innovation in Technology and Journalism · Spring 2013 · Northwestern University</p>
    </div>
  </div>