// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Fonts
-------------------------------------------------- */

@font-face {
font-family: OstrichBold;
src: url('type/ostrich_bold-webfont.ttf'),
	 url('ostrich_bold-webfont.eot');
}

@font-face {
font-family: OstrichRegular;
src: url('type/ostrich_regular-webfont.ttf'),
	 url('ostrich_regular-webfont.eot');
}

@font-face {
font-family: HelveticaNeue-Light;
src: url('type/HelveticaNeue-Light.ttf'),
	 url('HelveticaNeue-Light.eot');
}

/* Headers and landing page
-------------------------------------------------- */

.twxplorer-header {
  font-family: OstrichRegular;
	font-size: 100px;
	margin-top: 50px;
	display: inline;
	background-image:url('/images/twxplorer-logo.png');
	background-size:40px 60px;
  background-repeat:no-repeat;
  background-position: 360px 0px;
}

.twxplorer-x {
  font-size: 130px !important;
  background-image: none;
}

.twxplorer-detail {
  float: left;
  font-size: 70px;
  margin-top: 20px;
  background-size: 30px 40px;
  background-position: 250px 0px;
  height: 45px;
  margin-left: 20px;
}

.twxplorer-x-detail {
  font-size: 90px;
  background-image: none;
}

.header-normal {
  padding-right: 70px;
}

.landing {
  position: fixed;
  top: 27%;
  left: 38%;
}

.header-wrapper {
  margin-top: 80px;
}


/* Tweet list
-------------------------------------------------- */

.tweets {
  background-image:url('/images/twitter-gray.png');
  background-repeat: no-repeat;
  background-position: 10px -4px;
  background-size: 25px 25px;
  padding-left: 40px;
}

.single-tweet {
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 10px solid #fcfcfc;
  background-color: #F8F8F8;
  width: 85%;
  margin-bottom: 10px;
  padding: 5px
}

.tweet-created-at {
  display: inline;
  float: right;
  color: #9c9c9c;
  font-size: 12px;
}

.avatar {
  width: 35px;
  margin-top: 25px;
  margin-right: 10px;
}

.tweet-name {
  font-weight: bold;
}

.username {
  color: #9b9b9b;
  font-size: 12px;
  margin-left: 10px;
}

.tweet-text {
  margin-top: -15px;
  margin-left: 50px;
}


/* Search bar
-------------------------------------------------- */

#search-bar-wrapper {
  margin-top: -20px;
  background-color: #F8F8F8;
  height: 70px;
  padding-top: 10px;
}

.search-input {
  font-family: HelveticaNeue-Light;
  height: 32px !important;
  margin-top: 30px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  font-size: 20px !important;
}

.search-input-home {
  display: block !important;
  width: 330px;
}

.search-input-detail {
  width: 300px;
  margin-top: 10px;
  margin-right: 20px;
}

.search-btn-detail {
  margin-top: -2px;
}


/* Two column CSS
-------------------------------------------------- */

#main-wrap > div { min-height: 450px;  }

/* layout */
#main-wrap {
  overflow: hidden;
  margin-left: -2px;
}


#sidebar {
  float: left;
  width: 50%;
  text-align: center;
  margin-right: 20px;
}

#content-wrap {
  float: right;
  width: 45%;
  border-left: 1px solid #bebebe;
  padding-left: 40px;
  margin-top: 35px;
}

#tweet-wrap {
  overflow: auto;
  height: 550px;
}

.sidebar-headers {
  font-size: 25px;
  font-family: HelveticaNeue-Light;
  margin-top: 25px;
  margin-bottom: 30px;
  line-height: 30px;
  margin-left: 20%;
}


/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -80px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 80px;
}
#footer {
  background-color: #f5f5f5;
  text-align: center;
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#wrap > .container {
  padding-top: 60px;
}

.container .credit {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

/* Misc
-------------------------------------------------- */
#id-string {
  display: none;
}

#graph {
  height: 450px;
}

/* Breadcrumbs
-------------------------------------------------- */
#breadcrumbs-wrapper {
  height: 23px;
  background-color: #fcfcfc;
  width: 200%;
  text-align: left;
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  padding-top: 5px;
  padding-bottom: 4px;
}

a.breadcrumbs {
  display: inline;
  color: #000000;
  padding-top: 2px;
  font-size: 12px;
}

a.breadcrumbs:hover {
  color: #2f7ed8;
  text-decoration: none;
  cursor: pointer;
}

p.breadcrumb-arrow {
  color: #9c9c9c;
  display: inline;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 12px;
}

#breadcrumbs-text {
  margin-left: 20px;
}

#stoplist-modal {
  float: right;
}

